* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.header {
  height: 84px;
  width: 100%;
  display: flex;
}

.header__logo {
  width: 20%;
}
.header__logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header__navigation {
  width: 60%;
}
.header__navigation-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 50px;
}
.header__navigation-nav a {
  text-decoration: none;
  color: #263238;
}

.header__account {
  width: 20%;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header__account-login {
  width: 77px;
  height: 40px;
  border: none;
  color: #4CAF4F;
  background-color: transparent;
}
.header__account-signup {
  color: #FFFFFF;
  background-color: #4CAF4F;
  border-radius: 10px;
  width: 77px;
  height: 40px;
  border: none;
}

.content {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.content__slider {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.content__slider .slides__one {
  width: 100%;
  display: flex;
  gap: 104px;
  justify-content: center;
  padding: 50px 0;
}
.content__slider .slides__one__left {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 70%;
  margin: auto 0;
}
.content__slider .slides__one__left .left__title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.content__slider .slides__one__left .left__title-head {
  font-size: 64px;
}
.content__slider .slides__one__left .left__title-head span {
  color: #4CAF4F;
}
.content__slider .slides__one__left .left__title-content {
  color: #717171;
}
.content__slider .slides__one__left .left__btn button {
  background-color: #4CAF4F;
  color: #FFFFFF;
  width: 50%;
  border-radius: 10px;
  border: none;
  padding: 15px 0;
}
.content__slider__btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.content__ourClient {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content__ourClient-head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 44px;
  font-size: 36px;
  color: #4D4D4D;
}
.content__ourClient-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #717171;
}
.content__ourClient .content__ourClient__logo {
  width: 85%;
  margin: 0 auto;
  height: 98px;
  align-items: center;
}
.content__ourClient .content__ourClient__logo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.content__ourClient .content__ourClient__logo-itemimg {
  height: 48px;
  width: 48px;
}

.manage {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.manage .manage__font {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.manage .manage__font-max {
  width: 40%;
  margin: 0 auto;
  font-size: 36px;
  color: #4D4D4D;
  text-align: center;
}
.manage .manage__font-min {
  color: #717171;
  text-align: center;
}
.manage .manage__content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}
.manage .manage__content .manage__content__member {
  width: 15%;
  box-shadow: 0 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.manage .manage__content .manage__content__member .manage__content__member_head {
  width: 90%;
  flex-direction: column;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.manage .manage__content .manage__content__member .manage__content__member_head-icon {
  width: 65px;
  height: 56px;
}
.manage .manage__content .manage__content__member .manage__content__member_head-title {
  text-align: center;
  font-size: 28px;
  color: #4D4D4D;
  font-weight: bold;
}
.manage .manage__content .manage__content__member-text {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 14px;
  color: #717171;
}
.manage .manage__content .manage__content__national {
  width: 15%;
  box-shadow: 0 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.manage .manage__content .manage__content__national .manage__content__national_head {
  width: 90%;
  flex-direction: column;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.manage .manage__content .manage__content__national .manage__content__national_head-icon {
  width: 65px;
  height: 56px;
}
.manage .manage__content .manage__content__national .manage__content__national_head-title {
  text-align: center;
  font-size: 28px;
  color: #4D4D4D;
  font-weight: bold;
}
.manage .manage__content .manage__content__national-text {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 14px;
  color: #717171;
}
.manage .manage__content .manage__content__groups {
  width: 15%;
  box-shadow: 0 5px 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.manage .manage__content .manage__content__groups .manage__content__groups_head {
  width: 90%;
  flex-direction: column;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.manage .manage__content .manage__content__groups .manage__content__groups_head-icon {
  width: 65px;
  height: 56px;
}
.manage .manage__content .manage__content__groups .manage__content__groups_head-title {
  text-align: center;
  font-size: 28px;
  color: #4D4D4D;
  font-weight: bold;
}
.manage .manage__content .manage__content__groups-text {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 14px;
  color: #717171;
}

.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.product__account {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.product__account__logo {
  width: 31%;
}
.product__account__conten {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 35%;
  margin: auto 0;
}
.product__account__conten-text {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product__account__conten-text .product_header p {
  font-size: 36px;
  color: #4D4D4D;
}
.product__account__conten-text .product_body {
  font-size: 14px;
  color: #717171;
}
.product__account__conten-btn {
  width: 60%;
}
.product__account__conten-btn button {
  background-color: #4CAF4F;
  color: #FFFFFF;
  width: 151px;
  height: 52px;
  border-radius: 10px;
  border: none;
}
.product__statistical {
  width: 100%;
  display: flex;
  background-color: #F5F7FA;
  height: 288px;
  gap: 40px;
  justify-content: center;
}
.product__statistical .statistical_content {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 8px;
  height: 40%;
  margin: auto 0;
}
.product__statistical .statistical_content__title p {
  font-size: 36px;
}
.product__statistical .statistical_content__title p span {
  color: #4CAF4F;
  display: block;
}
.product__statistical .statistical_content__content p {
  color: #18191F;
}
.product__statistical .statistical_logo {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 30%;
  height: 60%;
  margin: auto 0;
}
.product__statistical .statistical_logo__memberclub {
  display: flex;
  gap: 30px;
}
.product__statistical .statistical_logo__memberclub .statistical__member {
  display: flex;
  gap: 16px;
}
.product__statistical .statistical_logo__memberclub .statistical__member img {
  width: 48px;
  height: 48px;
}
.product__statistical .statistical_logo__memberclub .statistical__member__text p {
  font-size: 28px;
  color: #4D4D4D;
}
.product__statistical .statistical_logo__memberclub .statistical__member__text span {
  color: #717171;
}
.product__statistical .statistical_logo__memberclub .statistical__club {
  display: flex;
  gap: 16px;
}
.product__statistical .statistical_logo__memberclub .statistical__club img {
  width: 48px;
  height: 48px;
}
.product__statistical .statistical_logo__memberclub .statistical__club__text p {
  font-size: 28px;
  color: #4D4D4D;
}
.product__statistical .statistical_logo__memberclub .statistical__club__text span {
  color: #717171;
}
.product__statistical .statistical_logo__payement {
  display: flex;
  gap: 30px;
}
.product__statistical .statistical_logo__payement .statistical__event {
  display: flex;
  gap: 16px;
}
.product__statistical .statistical_logo__payement .statistical__event img {
  width: 48px;
  height: 48px;
}
.product__statistical .statistical_logo__payement .statistical__event__text p {
  font-size: 28px;
  color: #4D4D4D;
}
.product__statistical .statistical_logo__payement .statistical__event__text span {
  color: #717171;
}
.product__statistical .statistical_logo__payement .statistical__pay {
  display: flex;
  gap: 16px;
}
.product__statistical .statistical_logo__payement .statistical__pay img {
  width: 48px;
  height: 48px;
}
.product__statistical .statistical_logo__payement .statistical__pay__text p {
  font-size: 28px;
  color: #4D4D4D;
}
.product__statistical .statistical_logo__payement .statistical__pay__text span {
  color: #717171;
}
.product .product__site {
  width: 100%;
}
.product .product__site__design {
  display: flex;
  gap: 32px;
  justify-content: center;
}
.product .product__site__design__img {
  display: inline;
}
.product .product__site__design__content {
  width: 35%;
  height: 70%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: auto 0;
}
.product .product__site__design__content .design__footer {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 16px;
}
.product .product__site__design__content .design__footer__header p {
  font-size: 36px;
  color: #4D4D4D;
}
.product .product__site__design__content .design__footer__body {
  font-size: 14px;
  color: #717171;
}
.product .product__site__design__content .design__footer__btn button {
  height: 52px;
  width: 151px;
  background-color: #4CAF4F;
  border: none;
  color: #FFFFFF;
  border-radius: 10px;
}
.product .product__airport {
  width: 100%;
  display: flex;
  gap: 78px;
  background-color: #F5F7FA;
  justify-content: center;
}
.product .product__airport__content {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: auto 0;
}
.product .product__airport__content .airport__title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 85%;
}
.product .product__airport__content .airport__title__content p {
  color: #717171;
}
.product .product__airport__content .airport__title__boad {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.product .product__airport__content .airport__title__boad span {
  color: #4CAF4F;
  font-size: 20px;
}
.product .product__airport__content .airport__title__boad p {
  color: #89939E;
}
.product .product__airport__content .airport__body {
  width: 85%;
}
.product .product__airport__content .airport__body__icon {
  display: flex;
  gap: 32px;
}
.product .product__airport__content .airport__body__icon-logo {
  display: flex;
  gap: 41px;
}
.product .product__airport__content .airport__body__icon-custom {
  margin: auto 0;
}
.product .product__airport__content .airport__body__icon-custom a {
  text-decoration: none;
  color: #4CAF4F;
  font-size: 20px;
}
.product .product__marketing {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product .product__marketing__header {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.product .product__marketing__header .marketing__title {
  width: 100%;
  font-size: 36px;
  color: #4D4D4D;
  text-align: center;
}
.product .product__marketing__header .marketing__content {
  width: 40%;
  color: #717171;
  margin: 0 auto;
  text-align: center;
}
.product .product__marketing__content {
  width: 100%;
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.product .product__marketing__content .marketing__process {
  width: 25%;
  position: relative;
}
.product .product__marketing__content .marketing__process__img img {
  width: 100%;
  display: block;
}
.product .product__marketing__content .marketing__process__content {
  width: 70%;
  background-color: #F5F7FA;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
  border-radius: 15px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product .product__marketing__content .marketing__process__content-title {
  width: 70%;
  font-size: 20px;
  color: #717171;
  text-align: center;
  margin: 0 auto;
}
.product .product__marketing__content .marketing__process__content-next a {
  width: 100%;
  text-decoration: none;
  color: #4CAF4F;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.product .product__marketing__content .marketing__manage {
  width: 25%;
  position: relative;
}
.product .product__marketing__content .marketing__manage__img img {
  width: 100%;
  display: block;
}
.product .product__marketing__content .marketing__manage__content {
  width: 70%;
  background-color: #F5F7FA;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
  border-radius: 15px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product .product__marketing__content .marketing__manage__content-title {
  width: 70%;
  font-size: 20px;
  color: #717171;
  text-align: center;
  margin: 0 auto;
}
.product .product__marketing__content .marketing__manage__content-next a {
  width: 100%;
  text-decoration: none;
  color: #4CAF4F;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.product .product__marketing__content .marketing__membership {
  width: 25%;
  position: relative;
}
.product .product__marketing__content .marketing__membership__img img {
  width: 100%;
  display: block;
}
.product .product__marketing__content .marketing__membership__content {
  width: 70%;
  background-color: #F5F7FA;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
  border-radius: 15px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product .product__marketing__content .marketing__membership__content-title {
  width: 70%;
  font-size: 20px;
  color: #717171;
  text-align: center;
  margin: 0 auto;
}
.product .product__marketing__content .marketing__membership__content-next a {
  width: 100%;
  text-decoration: none;
  color: #4CAF4F;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer__header {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer__header__title {
  width: 35%;
  color: #263238;
  font-size: 64px;
  margin: 0 auto;
  text-align: center;
}
.footer__header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__header__btn button {
  padding: 20px;
  background-color: #4CAF4F;
  border: none;
  color: #FFFFFF;
  border-radius: 4px;
}
.footer__content {
  background-color: #263238;
  display: flex;
  gap: 125px;
  width: 100%;
  justify-content: center;
  padding: 60px 0;
}
.footer__content__left {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer__content__left-body {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__content__right {
  width: 40%;
  color: #FFFFFF;
  display: flex;
  gap: 30px;
}
.footer__content__right .footer__company {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 25%;
}
.footer__content__right .footer__company__header {
  font-size: 20px;
}
.footer__content__right .footer__company__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__content__right .footer__company__content a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__content__right .footer__support {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 25%;
}
.footer__content__right .footer__support__header {
  font-size: 20px;
}
.footer__content__right .footer__support__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__content__right .footer__support__content a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__content__right .footer__update {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 40%;
}
.footer__content__right .footer__update__header {
  font-size: 20px;
}
.footer__content__right .footer__update__content {
  position: relative;
}
.footer__content__right .footer__update__content input {
  border-radius: 8px;
  padding: 10px;
  background-color: #717171;
  color: white !important;
  width: 100%;
}
.footer__content__right .footer__update__content img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
}

@media (max-width: 740px) {
  * {
    margin: 0;
    padding: 0;
  }
  .header {
    width: 100%;
    justify-content: flex-start;
  }
  .header__logo {
    width: 50%;
  }
  .header__navigation {
    display: none;
  }
  .header__account {
    width: 50%;
    display: flex;
  }
  .content__slider .slides__one {
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }
  .content__slider .slides__one__left {
    order: 2;
    width: 100%;
  }
  .content__slider .slides__one__left .left__title-head p {
    font-size: 36px;
    width: 100%;
    text-align: center;
  }
  .content__slider .slides__one__left .left__title-content {
    text-align: center;
  }
  .content__slider .slides__one__left .left__btn {
    justify-content: center;
    align-items: center;
  }
  .content__slider .slides__one__right {
    order: 1;
    margin: 0 auto;
  }
  .content__slider__btn {
    display: none;
  }
  .container {
    gap: 20px;
  }
  .content__ourClient-content h3 {
    text-align: center;
  }
  .content__ourClient__logo-item {
    display: block;
    flex-wrap: wrap;
  }
  .manage__font-max h2 {
    font-size: 30px;
  }
  .manage__content {
    width: 100%;
    flex-direction: column;
  }
  .manage__content__member {
    width: 100%;
  }
  .manage__content__national {
    width: 100%;
  }
  .manage__content__groups {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */